<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <header>
            <div class="navbar">
                    <h1>LI Bank forms</h1>
            </div>
    </header>
        <main>
          <div *ngIf="mostrarFormularioConfirmacion===false">
            <div *ngIf="!mostrarFormularioConfirmacion">
              <div class="contenedorFormulario"><app-tipo-cuenta (datosEnviados)="recibirDatosTipoCuenta($event)"></app-tipo-cuenta></div>
            <div class="contenedorFormulario"><app-datos-personales (datosEnviados)="recibirDatosPersonales($event)"></app-datos-personales></div>
            <div class="contenedorFormulario"><app-datos-acudiente (datosEnviados)="recibirDatosAcudiente($event)" ></app-datos-acudiente></div>
              <button (click)="toggleFormulario()">Enviar</button>
            </div>
          </div>

          <div *ngIf="mostrarFormularioConfirmacion">
            <app-confirmacion-ahorros></app-confirmacion-ahorros>
          </div>

          
        </main>
  </body>
</html>

