<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h3>Motivo del Tramite</h3>
        <div class="campoIngreso">
            <h4>Tipo de cuenta:</h4>
            <form>
                <p class="prompt">Ingrese su Nit:</p>
                <label>
                  <input type="radio" name="tipoCuenta" [formControl]="tipoCuenta" value="cuentaDeAhorros">
                  Cuenta de Ahorros
                </label>
                <br>
                <label> 
                  <input type="radio" name="tipoCuenta" [formControl]="tipoCuenta"  value="cuentaDeCredito">
                  Cuenta de Cr&eacute;dito
                </label>
              </form>
        </div>

        <div class="campoIngreso">
            <h4>Responsabilidad</h4>
            <form>
                <p class="prompt">Seleccione el tipo de responsabilidad:</p>
                <label>
                  <input type="radio" name="personType" [formControl]="responsabilidadPersona" value="personaJuridica" (change)="toggleInputField($event)">
                  Persona Jur&iacute;dica
                </label>
                <br>
                <label>
                  <input type="radio" name="personType" [formControl]="responsabilidadPersona" value="personaNatural" (change)="toggleInputField($event)">
                  Persona Natural
                </label>
              </form>
              
              <div id="inputText" *ngIf="showInputText">
                <p class="prompt" [formControl]="nitOpcional">Ingrese su Nit:</p>
                <input type="text">
              </div>
        </div>

        <div class="campoIngreso">
            <p class="prompt" [formControl]="motivo">Indique el motivo para crear la cuenta:</p>
            <input type="text">
        </div>

        <div class="campoIngreso">
            <p class="prompt">Adjunte una fotocopia de su documento de identidad</p>
            <input type="file" [formControl]="docIdentidad" (change)="manejarDocumento($event)">
        </div>

        <div class="campoIngreso">
            <p class="prompt">Adjunte una foto suya (que muestre su cara)</p>
            <input type="file" [formControl]="docImagen" (change)="manejarImagen($event)">
        </div>

        <div class="campoIngreso">
            <p class="prompt">Adjunte su firma virtual:</p>
            <input type="file" [formControl]="docFirma" (change)="manejarFirma($event)">
        </div>

        <div class="campoIngreso">
            <p class="prompt">Adjunte una factura de servicios p&uacute;blicos de su vivienda actual:</p>
            <input type="file" [formControl]="docFactura" (change)="manejarFactura($event)">
        </div>

        <div class="campoIngreso">
            <p class="prompt">Indique la duraci&oacute;n desedada de la cuenta:</p>
            <input type="text" [formControl]="duracion">
        </div>

        <div class="campoIngreso">
            <p class="prompt" >Ingrese el valor del deposito inicial que har&aacute; a la cuenta:</p>
            <input type="text" [formControl]="depositoIncial">
        </div>

    </body>
</html>